/************* BUTTONS ************/

.NS-btn, .NS-btn1 {
    padding: 10px;
    font-size: 13px;
    cursor: pointer;
    transition: 0.3s;
    opacity: .8;
    border: none !important;
    color: var(--black);
    border-radius: 30px;
    margin: 5px;
    width: 25%;
}

.NS-btn {
    background-color: var(--light-background);
}

.NS-btn1{
    background-color: var(--medium-background);

}

.NS-btn:hover, .NS-btn1:hover {
    opacity: 1;
}

/****************** HEADER *****************/


.NS-header {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    background-color: whitesmoke;
    justify-content: center;

}

.header-img {
    width: 16.66%;
    opacity: .8;
    /* box-sizing: border-box; */
}



/************* ICONS ****************/

.ico {
    width: 50px;
    margin: 5px;
}



/**************** IGNORE!! NEWSLETTER **********/
input {
    text-decoration: none;
    border: none;
    border-radius: 7px;
    margin-top: 10px;
    background-color: white;
    opacity: .7;
}


input {
    width: 100%;
    padding: 10px;
    transition: .3s;
}




@media screen and (max-width: 1000px) {

  .header-img{
    width: 33.33%;
    padding: 0px;
  }
  .NS-btn, .NS-btn1 {
    width: 50%;
  }

}



/************** SIDE CLIKER layout.jsx***********/

.side-click-body {
    position: fixed;
    bottom: 30%;
    right: 0;
    width: 50px;
    height: 110px;
    background-color: #ddd;
    z-index: 150;
    
    display: flex;
    flex-direction: column;
    text-align: center;

    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.325);
}

.side-click-icon {
    width: 100%;
    height: auto;
    margin: auto;
    color: var(--black);
    font-size: large;
}


.side-click-icon i:hover {
    color: var(--dark-background);
}


/******** FOOTER: layout.jsx*********/

.my-footer{
    padding-top: 30px;
    text-align: center;
    height: 150px;
    background-color: var(--black);
    color: rgba(255, 255, 255, 0.47);
    font-size: 13px;
}


.socialMedia-div i, .contact-info-div-sm i {
    padding-right: 3px;
    padding-bottom: 10px;
}

.socialMedia-div i {
    font-size: 30px;
}

.socialMedia-div a, .contact-info-div-sm a {
    opacity: .7;
}

.socialMedia-div a:hover, .contact-info-div-sm a:hover {
    opacity: 1;
}


