.overlay {
    height: 100%;
    width: 100%;
    margin:0;
    padding:0;
    background-color: rgba(0, 0, 0, 0.401);
    top:0;
    z-index:200;
    position: absolute;
    left:0
}

.dialog {
    border:none;
    color: var(--sdark-background);
    width: 50%;
    height: fit-content;
    top: 100px;
    padding: 5%;
    border-radius: 5px;
}

.btn{
    padding: 10px 20px;
    margin: 20px 5px 10px 5px;
    border: none !important;
    float: right;
    transition: .2;
    border-radius: 5px;
}

.alert {
    color: white;
    background-color: rgb(225, 113, 113);
}

.okay {
    color: rgb(30, 30, 30);
    background-color: rgb(220, 222, 230);
}

.btn:hover {
    opacity: .8;
}