
.landing-body{
  font-size: calc(10px + 1.0vmin);
  overflow: hidden;
}

/***********ABOUT US************/

.about-us-body{
    color: var(--black);
    width: 100%;
    
    font-size: calc(8px + 1.0vmin);
    background-color: whitesmoke;
    
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about-us{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-radius: 10px;
    background-color: white;
}

#contentv {
    text-align: center;
}


/************ GALLERY ************/

.gallery-body{
    padding: 40px;
    position: relative;
    background-color: var(--ddark-background);
    color: var(--white);
}

#gallery {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.gallery-img {
    margin: 4px;
    width: 250px;
    height: 250px;
}


.gallery-btn {
    position: absolute;
    width: 40px;
    height: 30px;
    text-decoration: none !important;
    border: none;
    top: calc(50% - 0.5em);
    font-size: 30px;
    
    background-color: transparent;
    outline: none;
    color: white;
    border-radius: 50%;
    cursor: pointer;
}

.gallery-btn:hover{
    color: rgb(158, 187, 234);
}

.left {
    left: 0;
    float: left;
}

.right {
    right: 0;
    float: right;
}

.gallery-sec {
    display: none;
}

.active {
    display: block;
}

/************ SERVICES ************/

.services-body{
    background-color: var(--light-background);
    padding: 40px;
}

.services-div{
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    text-align: center;
}

.services-body2 {
    text-align: center;
}

.services-body2 span {
    width: 100%;
    max-width: 220px;
    margin: 15px;
    box-shadow: 10px 10px var(--medium-background);
    transition: .4s;
    padding: 10px;
    font-size: 14px;
    background-color: white;
    border-radius: 10px;
    color: rgb(56, 56, 56);

}

.services-body2 span h4 {
    margin: 1px;
}


.services-body2 span:hover {
    border-color: rgb(110, 153, 118);
    box-shadow: none;
    color: rgb(110, 153, 118);
}

.services-body2 span:hover hr {
    background-color: rgb(110, 153, 118);
}




/************ CONTACT AREA, FORM & DIVs ************/

.contact {
    background-color: var(--ddark-background);
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    text-align: center;
    padding: 30px 0px;
    font-size: 17px;

}

.contact-info-div-bg {
    border-radius: 7px;
    background-color: var(--white);
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    box-shadow: 1px 2px 5px var(--sdark-background);
}

.contact-info-div-sm {
    margin: 0px 30px;
    padding: 30px;
    width:auto;
}


.contact-p{
    text-align: left;
}


/**************** MAP AREA **********/
.mapouter {
    position:relative;

}

.gmap_canvas {
    overflow: hidden;
    background: none!important;
}

#gmap_canvas {
    width: 400px;
    min-width: 300px;
    height: 500px;
    border-radius: 7px ;
    margin: 20px;
}


