
.landing-body{
  font-size: calc(10px + 1.0vmin);
  overflow: hidden;
}

/***********ABOUT US************/

.about-us-body{
    color: white;
    width: 100%;
    font-size: calc(8px + 1.4vmin);
    display: flex;
    height: 60vh;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about-us{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 40px 40px;
}

#contentv {
    width: 60%;
    text-align: left;
    color: var(--black);
    border-left: 1px solid var(--ddark-background);
    padding-left: 10px;
}


#contentz{
    display: flex;
    color: var(--black);
    width: 35%;
    justify-content: center;
    align-items: center;
}



/************ GALLERY ************/

.gallery-body{
    padding: 40px;
    position: relative;
    background-color: var(--ddark-background);
    color: var(--white);
}

#gallery {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.gallery-img {
    margin: 10px;
    width: 250px;
    height: 250px;
    border-radius: 10px;
    border: 1px solid var(--dark-background);
}


.gallery-btn {
    position: absolute;
    width: 40px;
    height: 200px;
    margin-top: -100px;
    text-decoration: none !important;
    border: none;
    top: calc(50% - 0.5em);
    font-size: 25px;
    background-color: rgba(255, 255, 255, 0.182);
    outline: none;
    color: white;
    cursor: pointer;
    border-radius: 10px;
}

.gallery-btn:active{
    color: rgb(158, 187, 234);
}

.left {
    left: 20px;
    float: left;
}

.right {
    right: 20px;
    float: right;
}

.gallery-sec {
    display: none;
}

.active {
    display: block;
}

/************ SERVICES ************/

.services-body{
    background-color: var(--light-background);
    padding: 60px 40px;
}

.services-div{
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    text-align: center;
}

.services-body2 {
    text-align: center;
}


/************ CONTACT AREA, FORM & DIVs ************/

.contact {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    text-align: center;
    padding: 30px 0px;
    font-size: 17px;
}

.contact-info-div-bg {
    border-radius: 7px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: center;
    justify-content: center;
}

.contact-info-div-sm {
    margin: 0px 30px;
    padding: 30px;
}


.contact-p{
    text-align: left;
}


/**************** MAP AREA **********/
.mapouter {
    position:relative;

}

.gmap_canvas {
    overflow: hidden;
    background: none!important;
}

#gmap_canvas {
    width: 400px;
    min-width: 300px;
    max-width: 400px;
    height: 500px;
    border-radius: 7px ;
    margin: 20px;
}


/********* CARDS **********/

.card {
    width: 230px;
    min-width: 220px;
    margin: 20px;
    box-shadow: 1px 1px 10px var(--medium-background);
    font-size: 13px;
    background-color: rgba(255, 255, 255, 1);
    color: rgb(56, 56, 56);
    border-radius: 10px;
}

.card-body {
    text-align: left;
    padding: 10px;
    font-size: 12px;
}


.card h4 {
    font-size: 1.3em;
    text-align: center;
    margin: 5px;
    color: var(--black);
}


.card-img {
    border-radius: 10px;
    padding: 5px;
    overflow: hidden;
    width: 100%;
}

.card-footer {
    float: right;
    height: 0;
    overflow: hidden;
    transition: .3s ease-in-out;
}

.call-btn-card {
    width: 50px;
    height: 50px;
    border: none;
    margin-left: 15px;
    border-radius: 50%;
    background-color: var(--dark-background);
    transition: .2s;
    color: white;
}

.call-btn-card:hover {
    opacity: .7;
}



/*************** IMG ***************/

.host-img{
    padding:5%;
    width: 100%;
}

.host-s-img{
    width: 100%;
    padding:5%;
    display: none;
}


.host-btn-container {
    width: 100%;
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 15%;
    left: 0;
}

.host-btn {
    border-radius: 20px;
    padding: 10px 20px;
    border: none;
    background-color: var(--black);
    color: var(--white);
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.401);
}

.host-btn:hover{
    opacity: .8;
}

.host-btn:active{
    opacity: .9;
}

/********** CAROUSEL *************/


.carousel {
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}


.carousel-container {
    display: flex;
    overflow-x: scroll;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    width: 80%;
}

.carousel-container::-webkit-scrollbar {
    display: none;
}


.carousel-item {
    width: 100%;
    flex: 0 0 auto;
    position: relative;
}


.dot-container {
    display: flex;
    justify-content: center;
}


.dot {
    width: 23px;
    height: 23px;
    background-color: rgb(237, 210, 196, .5);
    border-radius: 50%;
    display: inline-block;
    margin: 0 10px 20px 10px;
}

.dot:active {
    background-color: rgb(237, 210, 196);
}

.dot:hover {
    background-color: rgb(237, 210, 196);
}


@media screen and (max-width: 810px) {
    .host-img{
        display: none;
    }
    
    .host-s-img{
        display: block;
    }
    .carousel-container {
        width: 100%;
    }
}


@media screen and (max-width: 620px) {


    .card:hover > .card-footer{
        height: 50px;
    }
    .card:active > .card-footer {
        height: 50px;
    }
    .about-us {
        flex-wrap: wrap;
    }
    #contentv{
        width: 100%;
        border: none;
        border-top: 1px solid var(--black);
        padding: 0;
        padding-top: 10px;
    }
    #contentz{
        width: 100%;
        justify-content: left;
        align-items: center;
    }
}
