/************ LOOK BOOK ************/
.lb {
    background-color: var(--white);

}

.lb-body {
    padding: 4% 1%;
    display: flex;
    flex-direction: column;
}

.lb-main-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


.lb-images {
    margin: 18px;
    width: 250px;
    height: 250px;
    border-radius: 5px;
    cursor: pointer;
}

.lb-images:hover {
    opacity: .8;
}

.lb-images:active {
    opacity: .8;
}

/**************** MODAL ***********************/

.artist {
    margin: 15px;
    letter-spacing: 2px;
    font-size: 13px;
}

.bottom {
    width: 100%;
}


.overlay {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top:0;
    left:0;
    z-index: 200;
    overflow: hidden;
}


.lb-images-modal {
    margin: 0 15px;
    border-radius: 5px;
    margin-top: 15px;
    width: 500px;
    height: 500px;
}


.img-modal-lb {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap-reverse;
    background-color: white;
    box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    width: fit-content;
    position: fixed;
    left:50%;
    top: 50%;
    margin-left: -250px;
    margin-top: -300px;
}

.close {
    border: none;
    padding: 10px;
    border-radius: 10px;
    background-color: var(--active);
    color: var(--white);
    margin: 15px;
    font-weight: 700;
}

.close:hover {
    opacity: .8;
}

.close:active{
    opacity: 1;
}



@media screen and (max-width: 500px) {
    .lb-images-modal {
        width: 350px;
        height: 350px;
    }
    .img-modal-lb {
        margin-left: -190px;
    }

}