.nav-body{
    background-color: white;
    width: 100%;
    margin: 0;
    top: 0;
    position: sticky;
    z-index: 200;
    position: -webkit-sticky;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.144);
}

.nav {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.nav-item {
    display: block;
    float: left;
    list-style: none !important;
    padding: 14px 16px;
    color: var(--black);
    text-align: center;
    text-decoration: none;
}


.nav-item:hover:not(.active){
    color: rgb(158, 187, 234);
}


.active {
    color: var(--active);
}

.right {
    float: right;
}



.ham-btn {
    background-color: white;
    color: var(--active);
    border: none !important;
    text-decoration: none;
    width: 100%;
    font-size: 35px;
    text-align: left;
    padding-bottom: 5px;
}


.ham-btn:hover:not(.active){
    color: var(--active);
}

#hamburger {
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.logo {
    height: 40px;
    margin: 0 10px;
    margin-top: 4px;
}


@media screen and (max-width: 620px) {
    .nav-item{
        width: 100%;
    }
    .logo{
        top:0;
        position: absolute;
    }
}
