

.recovery-body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: var(--white);
    height: 80vh;
}

.recovery-div {
    float: left;
    width: 50%;
    height: 70%;
    padding: 0 5%;
    padding-top: 8%;
    background-color: white;
    border-radius: 1%;
    box-shadow: 1px 1px 5px rgb(227, 227, 227)
}

.recovery-form input[type="submit"] {
    color: var(--black);
    background-color: var(--dark-background);
}

.recovery-input {
    margin: 10px 0;
    background-color: rgb(244, 244, 244)
}

.recovery-input:hover {
    background-color: rgb(255, 255, 255);
}



@media only screen and (max-width: 600px) {
    .recovery-div {
      width: 80%;
    }
}