
.landing-body{
  font-size: calc(10px + 1vmin);
  overflow: hidden;
  background-color: var(--light-background);
}

/************ ABOUT US ************/
a {
    text-decoration: none;
}

.about-us-body{
    padding:10px 40px;
    margin: 10px;
    background-color: var(--white);
    color: var(--black);
    /* font-size: 17px; */
    display: flex;
    border-radius: 7px;
    flex-wrap: wrap;
}

.about-us{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}


#contenth{
    display: none;
}



/************ GALLERY ************/

.gallery-body{
    padding:10px 40px;
}





/************ SERVICES ************/

.services-body1{
    padding:10px 40px;
}

.services-body2 {
    display: flexbox;
    flex-wrap: wrap;
    flex-direction: column;
    margin: auto;
    align-content: center;
    justify-content: center;
    text-align: center;
    padding:10px 40px;
    margin: 10px;
}

.services-div{
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    align-content: center;
    justify-content: center;
    text-align: center;
    
}

.services-body2 span {
    width: 100%;
    max-width: 200px;
    margin: 10px;
    background-color: var(--white);
    border-radius: 15px;
    box-shadow: 10px 10px var(--medium-background);
    /* border-style: solid;
    border-width: .5px; */
    transform: rotate(2deg);
    transition: .4s;
    cursor: pointer;
}

.services-body2 span:hover{
    transform: rotate(-4deg);
}

/* width:110%;
  top:-5%;
  left:-5%;
  transform:rotate(2deg); */

/************ CONTACT AREA, FORM & DIVs ************/

.contact {
    margin: 10px;

    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 50px;
}

.contact-form {
    border: none !important;
    display: grid;
    margin: 20px;
    
}

.EmailForm, .info-float  {
    grid-area: 1 / 1 ;
}

.EmailForm {
    background-color: var(--white);
    opacity: .4;
    width: auto;
    padding: 40px;
}


.info-float {
    margin: auto;
    height: 200px;
    width: 70%;
    z-index: 10;
    align-self: center;
    color: var(--white);
    background-color: var(--black);
    border-radius: 77% 23% 82% 18% / 43% 44% 56% 57% ;
    opacity: .85;
    
}

.info-float h3 {
    align-self: baseline;
    padding-top: 40px;
}


.contact-info-div-bg {
    border-radius: 7px;
    background-color: var(--white);
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: center;
    justify-content: center;
}

.contact-info-div-sm {
    margin: 30px;
    padding: 30px;
    width:auto;
}



.contact-p{
    font-size: 15px;
    text-align: left;
}

/**************** ICONS **********/

.contact-p i {
    margin-right: 15px;
}



/**************** IGNORE!! NEWSLETTER **********/
input, textarea {
    text-decoration: none;
    border: none;
    border-radius: 7px;
    margin-top: 10px;
    background-color: white;
    opacity: .7;
}

textarea {
    width: 100%;
    resize: none;
    transition: .3s;
    height: 100px;
    padding: 10px;
}

input {
    width: 100%;
    padding: 10px;
    transition: .3s;
}

input[type="submit"] {
    color: var(--black);
    background-color: var(--dark-background);
}

/* input[type="submit"]:hover {
    color: rgb(255, 255, 255);
    opacity: 1;
}


input:hover, textarea:hover {
    opacity: 1;
} */




/**************** MAP AREA **********/
.mapouter {
    position:relative;

}


.gmap_canvas {
    overflow: hidden;
    background: none!important;
}

#gmap_canvas {
    width: 400px;
    /* min-width: 300px; */
    height: 400px;
    border-radius: 7px ;
    margin: 20px;
}

/******** FOOTER *********/

.my-footer{
    padding: 30px 0px 0px 30px;
    /* text-align: center; */
    height: 150px;
    background-color: var(--black);
    color: var(--white);
}


.socialMedia-div i {
    font-size: 30px;
    padding-right: 3px;
    padding-bottom: 10px;
}

.socialMedia-div a {
    opacity: .7;
}

.socialMedia-div a:hover {
    opacity: 1;
}



/************* OTHERS ************/

.NS-btn {
    width: 100%;    
    border: none;
    padding: 10px 0px;
    cursor: pointer;
    transition: 0.3s;
    background-color: var(--medium-background);
    opacity: .6;
    border-radius: 10px;

}

.NS-btn1{
    border: none;
    padding: 10px 0px;
    cursor: pointer;
    transition: 0.3s;
    background-color: var(--medium-background);
    opacity: .6;
    margin-top:30px;
    border-radius: 10px;
}

.NS-btn:hover, .active, .NS-btn1:hover {
    opacity: .8;
}
   
