:root {
  --font-main: 15px small-caps Helvetica, serif;
  --black-theme-fade: #474747;
  --white-theme: #eeeeeef8;
  --white-med: #dadada;
  --yellow-theme: #be8c00;
  --black-theme: #131313;
  --gray-theme: rgba(190, 190, 190, 0.575);
  --font-main: 15px small-caps Helvetica;
}

.App {
  text-align: center;
  font: var(--font-main);
}

