:root {
  --light-background: #f4e5d5;
  --medium-background: #d2b9a6;
  --dark-background: #d4b4a0;
  --ddark-background: #977c6b;
  --sdark-background: #5c4b41;
  --white: rgb(247, 247, 247);
  --black: rgb(45, 40, 39);
  --strong-color: #ab866f;
  --active: #ab866f;
}


.App {
  text-align: center;
}

input, textarea, img {
  box-sizing:border-box;
  -moz-box-sizing:border-box;
}

a {
  text-decoration: none;
  color: unset;
}


hr {
  border: none;
  height: 1px;
  /* Set the hr color */
  color: rgb(235, 231, 231); /* old IE */
  background-color: rgb(182, 151, 141); /* Modern Browsers */
  opacity: .9;
  width: 95%;
}

.button-up {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-color: #977c6b;
  box-shadow: 1px 1px 5px var(--dark-background);
  position: fixed;
  bottom: 200px;
  right: 5px;
  border: none;
  z-index: 30;
  color: var(--white);
}

.button-up:active {
  background-color: #977c6bc2;
}

