:root {
  --light-background: #f4e5d5;
  --medium-background: #d2b9a6;
  --dark-background: #d4b4a0;
  --white: rgb(247, 247, 247);
  --black: rgb(55, 45, 42);
  --strong-color: #ab866f;
}


.App {
  text-align: center;
}

input, textarea {
  box-sizing:border-box;
  -moz-box-sizing:border-box;
}

