
hr {
    width: 90%;
    display: inline-block;
}


.img-header {
    width: 30%;
}

.banner {
    background-color: var(--gray-theme);
    width: 100%;
    height: 60%;
    z-index: -1;
}


/********** TopNav area**************/



.navLink{
    color: var(--black-theme);
    font: var(--font-main);
    text-decoration: none  !important;
    outline: none !important;
    cursor: pointer;
}

.navLink:hover{
    color: var(--black-theme-fade);
}



.navLink-active{
    color: var(--yellow-theme);
    text-decoration: none;
}

.navbar-toggler {
    text-decoration: none  !important;
    outline: none !important;
    border-style: none !important;
}

.navbar-toggler-icon {
    font-size: .8em;
}

.my-nav {
    opacity: .5;
}

.phone-pos {
    position: absolute;
    top: 15px;
    right: 20px;
}

.salon-name {
    position: absolute;
    top: 15px;
    left: 20px;
    font-family: cursive;
    font-size: 20px;
}

/*********Custom carousel**************/

#custom-carousel {
    /* background-color: darkblue; */
    width: 75%;
}

#custom-carousel1 {
    width: 100%;
    /* background-color: darkgoldenrod; */
}

/*********Custom slides**************/


.slide-card-item {
    background-color:rgb(235, 235, 235);
    width: 25%;
    border-radius: 6px;
    margin: 15px auto;
}

.slide-font {
    font-size: 1em;
    color: var(--black-theme);
    font: var(--font-main);
    margin-top: 10px; 
}

.slide-font-2 {
    font-size: .8em;
    color: var(--black-theme-fade);
}

.img-slide {
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
    width: 100%;
    height: 50%;
}

.gallery-card {
    width: 23%;
    margin: 20px auto;
}

.gallery-pic {
    height: 100%;
    border-radius: 4px;
}

.carousel-control-next {
    background-color: rgba(245, 245, 245, 0.541);
    height: 20%;
    margin: auto;
}

.carousel-control-prev {
    background-color: rgba(245, 245, 245, 0.541);
    height: 20%;
    margin: auto;
}

/*********Buttons**************/

.button-div {
    margin: 2%;
}

.custom-button {
    color: var(--white-theme);
    background-color: var(--gray-theme-footer);
    border-radius: 20px;
    padding: 10px 30px;
    text-decoration: none !important;
    text-align: center;
    font: var(--font-main);
    cursor: pointer;
}


.custom-button:hover {
    background-color: var(--yellow-theme);
    color: var(--white-theme);
}


/*********bottom banner**************/
.bottom-nav {
    background-color: #333;
    position: relative;
    padding: 5px;
    bottom: 0;
    width: 100%;
    color: rgb(184, 184, 184);
    justify-content: center;
}


.bottom-nav p{
    align-self: flex-end;
    font: var(--font-main);
    font-size: 13px;
}

.bottom-nav p a{
    text-decoration: none  !important;
    outline: none !important;
    border-style: none !important;
    color: #a7a7a7;
}

.icon-s{
    font-size: 30px;
    margin-top: 10px;
    text-decoration: none  !important;
    outline: none !important;
    border-style: none !important;
    color: #a7a7a7;
    transition-duration: .1s;
}

.icon-s:hover {
    color:#e4e4e4;
}


.bottom-nav p a:hover{
    color: rgb(201, 201, 201);
}

/*********Media queries**************/


@media only screen and (max-width: 991px) {
    .slide-card-item {
        width: 25%;
    }
    #custom-carousel {
        width: 100%;
    }
    .slide-font {
        margin-top: 5px;
        margin-bottom: 5px;
    }
    .img-header {
        width: 50%;
    }
    
}

@media only screen and (max-width: 700px) {
    .slide-card-item {
        width: 40%;
    }
    #custom-carousel {
        width: 100%;
    }
    .slide-font {
        margin-top: 5px;
        margin-bottom: 5px;
    }
    .phone-pos {
        position: relative;
        top: unset;
        right: unset;
    }
    .img-header{
        width: 80%;
    }
    .gallery-card {
        width: 50%;
        margin: 5px auto;
        padding: 5px;
    }
    
}