
/*********Service Page**************/

.service-page{
    background-color: #242424;
    width: 100%;
    height: 100%;
    font: inherit;
    color: var(--white-med);
}

.header-s {
    padding: 40px;
    letter-spacing: 5px;
    text-decoration: none;
}

.header-s2 { 
    margin-top: 20px;
    font-family: cursive;
    text-align: center;
}

.service-box{
    width: 80%;
    height: 75vh;
    margin-bottom: 5rem;
    padding: 15px;
    border: 1px solid rgb(255, 255, 255);
    display: inline-flex;
    justify-content: space-evenly;
}

.service-box p {
    display: inline-flex;
    text-align: center;
    font: inherit;
}

.service-sub-box {
    display: inline-flex;
    padding: 20px;
    margin:5%;
}


/*********Contact Page**************/

.contact-page{
    width: 100%;
    font: inherit;
    padding: 3%;
    background-color: var(--white-theme);
    display: inline-flex;
    justify-content: center;
}

.contact-ui {
    width: 30%;
    align-self: center;
    margin: 2%;
}

.contact-ui textarea, .contact-ui input{
    width: 100%;
    margin: 5px;
    border-style: dotted;
    resize: none;
}

.contact-ui .contact-button {
    border: 0;
    background: var(--gray-theme-footer);
    padding: 10px;
    border-radius: 30px;
    color: var(--white-med);
    transition-duration: .1s;
    margin-top: 10px;
}

.contact-button:hover {
    background: rgb(190, 142, 20);
}

/*Time area*/
.time-area {
    margin: 2%;
    align-self: center;
    font: 15px small-caps Helvetica;;
}

.time-area h3{
    text-transform: uppercase;
    font-size: 20px;
    color: var(--black-theme-fade);
    margin-top: 8%;
    letter-spacing: 3px;
} 


.time-area li {
    list-style-type: none;
}


/*Map Area*/
.map {
    margin: 2%;
    height: 400px;
    width: 30%;
    align-self: center;
}

.map iframe {
    border: thin;
    opacity: .9;
    width: 100%;
    height: 100%;
    transition-duration: .2s;
}

.map iframe:hover{
    opacity: 1;
}

@media only screen and (max-width: 991px) {
    .contact-page{
        flex-direction: column;
        height: auto;
    }
    .service-box{
        width: 80%;
    }
    .service-box{
        flex-direction: column;
        height: 100%;
    }
    .contact-ui {
        margin-top: 5%;
        width: 80%;
    }
    .map {
        width: 80%;
        margin: 10%;
    }
    .time-area {
        margin: 5%;
        width: 80%;
        text-align: center;
    }
}

@media only screen and (max-width: 500px) {
    .service-box{
        width: 90%;
    }
    .map {
        width: 80%;
    }
}


/*********Gallery Page**************/
